extends ./layout.jade
block content

	h1 "The future is now"
	p Narwhal crucifix cliche, small batch 8-bit twee leggings fixie bushwick ramps offal. Sriracha brunch vice letterpress, selfies ennui farm-to-table pabst 3 wolf moon polaroid beard quinoa banh mi banjo. Yr locavore mustache, hella vice bicycle rights kickstarter bushwick DIY pickled freegan. Farm-to-table butcher portland food truck. Offal freegan 

block content