extends ./layout.jade
block content 

		section.post
			.container.text-right
				a(href='').text-faded view all
				.row
					.col-lg08.colo-lg-offset-2
						h2.section-heading #{ post.title }

						hr.light

						p.text-faded
							| #{ post.description }
						.article
							| #{ post.descption }


