div navigator

	ul.nav
		li
			a(href='blog') Blog
		if path === '/'
			li
				a.page-scroll(href='#about') About
			li
				a.page-scroll(href='#service') Service
			li
				a.page-scroll(href='#Portfolio') Porfolio
			li
				a.page-scroll(href='#Portfolio') Portfolio